/* Common*/
.box {
    background-color:#006CFA;
    border: 1px solid white;
    text-align: center;
    color: white;
    padding: 15px;
}

.nested {
    background-color:#00E165;
    border-color: #006CFA;
   
}